/build/
*.obj
*.exe
!tools/MakeOverlays.exe

third_party/*.zip
third_party/streamline/source/
third_party/streamline/symbols/
third_party/streamline/_artifacts/
third_party/streamline/bin/x64/development/
third_party/ngx_objs/

video/boot.txt
video/ngx.log
video/bench.txt
video/exp_bench.txt
video/preview/
video/offline/
video/*.mp4
